<div class="dialog_container">
  <div class="col-right">
    <h1>ברוך הבא לחשבונך האישי</h1>
    <p>על מנת שנוכל לוודא שהחל ומעכשיו תמיד תהיה מעודכן,
      אנא מלא ואשר את פרטי ההתקשרות עימך</p>

    <mat-form-field dir="rtl">
      <mat-label>Input</mat-label>
      <input type="text" matInput >
    </mat-form-field>

    <mat-checkbox> Hide required marker</mat-checkbox>
    <mat-checkbox> Hide required marker</mat-checkbox>

    <div class="actions">
      <button>אישור</button>
    </div>
  </div>
  <div class="col-left">
    <div class="img-container"></div>
  </div>

</div>
